footer.footer.mt-auto.py-3
    .container.text-center.text-white
        span.text-white © 2023 Nature Gallery & Poems
        |  | Made with 
        i.fa.fa-heart.text-danger
        |  by Michael O